html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(72,249,234);
background: linear-gradient(35deg, rgba(72,249,234,1) 0%, rgba(131,45,255,1) 31%, rgba(232,56,251,1) 92%);
background-repeat: no-repeat;
color: white;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

aside {
  float: left;
  width: 37%;
  height: 80%;
  border: 5px white solid;
  margin: 2% 2% 2% 4%;
  padding: 2%;
  text-align: center;
}

div.wrap {height:100%; overflow:hidden;}

#me {
  border-radius: 50%;
  max-height: 90%;
  max-width: 70%;
  bottom: 0;
  border: 3px solid white;
}

#img-holder {
  width: 100%;
  height: 44%;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 3vw;
}

h3 {
  font-weight: normal;
  margin: 0;
  font-size: 1.65vw;
}

p {
  font-size: 1.25vw;
}

footer {
  left: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 3%;
  height: 100%;
  padding-top: 15%;
}

.icon img {
  max-width: 80%;
  margin-bottom: 25%;
  filter: drop-shadow(2px 2px 5px #222);
}

.icon {
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.tooltip .tooltiptext {
  top: -5px;
  left: 105%;
}

#content {
  float: right;
  width: 48%;
  padding: 2%;
  height: 90%;
}

.ui-accordion-content {
  background-color: rgba(255, 255, 255, 0.5);
}

.ui-accordion .ui-accordion-content {
  padding: 2%;
}

.ui-accordion-header-active {
  background: white;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
	background-image: url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png");
}

.ui-widget-content {
  background-color: rgba(255, 255, 255, 0.5);
  width: 96%;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: white;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px white;
  border-top: solid 1px #c5c5c5;
  border-right: solid 1px #c5c5c5;
  border-left: solid 1px #c5c5c5;
}

.ui-tabs .ui-tabs-panel {
  padding: 2%;
}

p {
  margin: 0;
}

.ui-tab {
  width: fit-content;
}

#ui-id-7 {
  color: #454545;
}

#ui-id-6 {
  color: #454545;
}

#ui-id-8 {
  color: #454545;
}

#ui-id-9 {
  color: #454545;
}

#ui-id-10 {
  color: #454545;
}

.ui-widget-header {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #c5c5c5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f18e; 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(190, 190, 190, 0.815); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190); 
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 95%;
  height: auto;
}

small {
  float: right;
  margin-right: 5%;
}

.overlay {
  position: absolute;
  top: 2%;
  bottom: 0;
  left: 2%;
  right: 0;
  width: 95%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  background-color: #000000b0;
  color: white;
  padding: 1%;
  width: 95%;
  height: 100%;
}

.ui-widget-content a {
  color: rgb(224, 98, 255);
  text-decoration: none;
}

a, a:visited {
  color: rgb(224, 98, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(197, 59, 231);
  text-decoration: underline;
}

#green-links {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  padding: 2%;
}

#green-links div {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
}

#skills {
  display: grid;
  grid-template-columns: 50% 50%;
}

#skills div {
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5%;
}

#learn-links {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  padding: 2%;
}

#learn-links div {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
}

#tabs-3 {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 2.5%;
}

#tabs-3 img {
  max-width: 90%;
  display: inline-block;
}

#tabs-4 {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 2.5%;
}

#tabs-4 img {
  max-width: 90%;
  display: inline-block;
}

#tabs-5 {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 2.5%;
}

#tabs-5 img {
  max-width: 90%;
  display: inline-block;
}

#tabs-3 div {
  padding: 2%;
}

#tabs-4 div {
  padding: 2%;
}

#tabs-5 div {
  padding: 2%;
}

@media only screen and (min-width : 601px) and (max-width : 996px) {
  aside {
    width: 35%;
  }

  #content {
    width: 49%;
  }
}

@media only screen and (max-width : 600px) {
  footer {
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 20px;
    padding: 1% 0 0 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .icon img {
    max-height: 80%;
    max-width: 20%;
    margin: 0;
    filter: drop-shadow(2px 2px 5px #222);
  }
  
  .icon {
    text-align: center;
  }

  div.wrap {height:100%; overflow: auto;}

  .tooltiptext {
    display: none;
  }

  aside {
    width: 90%;
    height: auto;
    float: none;
    margin: 10% auto 5% auto;
  }

  #content {
    float: none;
    width: 95%;
    height: auto;
    margin: 0 ;
  }

  #me {
    border-radius: 50%;
    max-height: 90%;
    max-width: 35%;
    bottom: 0;
    border: 3px solid white;
  }
  
  #img-holder {
    width: 100%;
    height: 20%;
  }

  h2 {
    padding: 0;
    margin: 0;
    font-size: 6vw;
  }
  
  h3 {
    font-weight: normal;
    margin: 0;
    font-size: 3.3vw;
  }
  
  p {
    font-size: 2.5vw;
  }
}